:root {
    /* font-size */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-23: 23.83px;
    --fs-24: 24px;
    --fs-40: 40px;
    --fs-48: 48px;
    --fs-61: 61.17px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    /* line-height */
    --line-16: 16.42px;
    --line-18: 18.77px;
    --line-19: 18.46px;
    --line-21: 21.53px;
    --line-24: 24.09px;
    --line-25: 24.64px;
    --line-26: 26.93px;
    --line-27: 27.95px;
    --line-28: 28.15px;
    --line-30: 30.76px;
    --line-36: 36.96px;
    --line-23: 23.46px;
    --line-46: 46.92px;
    --line-56: 56.3px;
    --line-71: 71.76px;
    /* color */
    --white: #FFFFFF;
    --black: #000000;
    --bg-color: #FFF6F1;
    --button: #FD9B2B;
    --button_2: #F14F09;
    --bg-line: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    --bg-line-2: linear-gradient(96.64deg, #F14F09 86.99%, #FD9B2B 13.58%);
    --hover: linear-gradient(96.64deg, #F14F09, #FD9B2B);
    --shadow: #FF586E47;
    --box-shadow: #0000000A;
    --shadow-2: #0000000F;
    --border: #E8E8E8;
    --circle-shadow: #00000040;

}

.hover {
    background: var(--hover);
}

.bg-line-2 {
    color: var(--bg-line-2);
}

.circle-shadow {
    color: var(--circle-shadow);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.border {
    color: var(--border);
}

.shadow-2 {
    color: var(--shadow-2);
}

.box-shadow {
    color: var(--box-shadow);
}

.shadow {
    color: var(--shadow);
}

.bg-line {
    background: var(--bg-line);
}

.linear_color {
    background: -webkit-linear-gradient(96.64deg, var(--button_2) 13.58%, var(--button) 86.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    color: var(--white);
}

.work-f {
    font-family: 'Work Sans', sans-serif;
}

.op-70 {
    opacity: 70%;
}

.black {
    color: var(--black);
}

.bg-color {
    color: var(--bg-color);
}

.button {
    color: var(--button);
}

.button_2 {
    color: var(--button_2);
}

.line-16 {
    line-height: var(--line-16);
}

.line-18 {
    line-height: var(--line-18);
}

.line-19 {
    line-height: var(--line-19);
}

.line-21 {
    line-height: var(--line-21);
}

.line-26 {
    line-height: var(--line-26);
}

.line-25 {
    line-height: var(--line-25);
}

.line-24 {
    line-height: var(--line-24);
}

.line-28 {
    line-height: var(--line-28);
}

.line-27 {
    line-height: var(--line-27);
}

.line-30 {
    line-height: var(--line-30);
}

.line-36 {
    line-height: var(--line-36);
}

.line-23 {
    line-height: var(--line-23);
}

.line-46 {
    line-height: var(--line-46);
}

.line-56 {
    line-height: var(--line-56);
}

.line-71 {
    line-height: var(--line-71);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-23 {
    font-size: var(--fs-23);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-61 {
    font-size: var(--fs-61);
}

@media (max-width: 768px) {
    :root {
        --fs-61: 34px;
        --line-71: 50px;
        --fs-40: 20px;
        --fs-16: 14px;
        --fs-20: 17px;
        --fs-48: 32px;
        --line-46: 35px;
        --fs-12: 9px;
        --fs-16: 12px;
        --fs-24: 20px;
        --line-36: 29px;
        --line-24: 18px;
    }
}